.board {
  height: 240px;
  width: 240px;
}

.cell {
  vertical-align: top;
  text-align: center;
  background-color: gray;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-style: solid;
  border-color: white;
  border-width: 1;
  -moz-box-sizing: border-box;
}

.hasBomb {
  background-color: orange;
}

.hitBomb {
  background-color: red;
}


