.board {
  height: 450px;
  width: 450px;
}

.cell {
  background-color: gray;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-style: solid;
  border-color: white;
  border-width: 1;
  -moz-box-sizing: border-box;
}

.hasBomb {
  background-color: red;
}
